body {
  background-color: #eeeeee;
  font: normal 18px/25px Palatino, "Palatino Linotype", serif;
  /* from better mf'ing website */
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
}
header a{
  text-decoration: none;
  color: #444;
}
header a:hover {
  text-decoration: underline;
  color: #885252;
}
h1,h2,h3 {
  line-height:1.2
}
nav {
  padding-left: 60%;
}
nav a {
  text-decoration: none;
  color: #444;
}
nav a:hover {
  text-decoration: underline;
  color: #885252;
}
nav a:visited {
  color: #885252;
}
.content dd {
  margin-left:2%;
  font-style: italic
}
.content a {
  text-decoration: none;
  color: inherit;
  font-size:larger;
}
.content a:hover {
  text-decoration: underline;
  color: #885252;
}
.content a:visited & a:hover {
  color: #444;
}

footer {
  display: flex;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #444;
}
footer a:hover {
  text-decoration: underline;
  color: #885252;
}
footer a:hover & a:visited {
  color: #885252;
}
footer ul {
  padding-left: 0;
}
footer li {
  display:inline-flex;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  float: left;
}
